@using MVC.Helpers
@model ViewModels.Item
@{
    int maxID = ViewBag.maxID;
}

<tr id="create-btn" >
    <td style="border:0px">
        @CustomHtmlHelpers.CreateButton(onclick: "Index.Create(this)")
    </td>
</tr>

<tr id="create" style="display:none" >
    <td style="border:0px" id="create-id">
        @maxID
    </td>
    <td style="border:0px" id="create-name">
        @CustomHtmlHelpers.InputText(true, "edit-name", "Name","Name", "Index.HandleKeyEvent(event, 'EditItem', " + Model.ID + ")")
        @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
    </td>
    <td style="border:0px" id="create-price">
        @CustomHtmlHelpers.InputNumber(true, "edit-price", "Price", "0.00", "Index.HandleKeyEvent(event, 'EditItem', " + Model.ID + ")", "0.01", "0")
        @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })
    </td>
    <td style="border:0px" >
        @CustomHtmlHelpers.SaveButton("save-btn", "Index.CreateItem(this)")
        @CustomHtmlHelpers.CancelButton("cancel-btn", "Index.Cancel(this)")
    </td>
</tr>

    