@using MVC.Helpers
@model ViewModels.Item;

<tr id="row-@Model.ID" data-type="display">
    <td id="display-id">@Model.ID</td>

    <td>
        <span id="display-name">@Model.Name</span>
    </td>

    <td>
        <span id="display-price">@Model.Price</span>
    </td>

    <td>
        @CustomHtmlHelpers.EditButton("edit-btn", "Index.Edit(this)", new List<KeyValuePair<string,string>> {new ("id",Model.ID.ToString())})
        @CustomHtmlHelpers.DeleteButton("delete-btn", "Index.Delete(this)", new List<KeyValuePair<string, string>> { new("id", Model.ID.ToString()) })
    </td>
</tr>

<tr id="row-@Model.ID" data-type="edit" style="display:none">
       
    <td id="display-id">@Model.ID</td>

   <td>
        @CustomHtmlHelpers.InputText(true, "edit-name", "Name", Model.Name, "Index.HandleKeyEvent(event, 'EditItem', " + Model.ID + ")")
        @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
   </td>

   <td>
        @CustomHtmlHelpers.InputNumber(true, "edit-price", "Price", Model.Price.ToString(), "Index.HandleKeyEvent(event, 'EditItem', " + Model.ID + ")", "0.01", "0")
        @Html.ValidationMessageFor(Model => Model.Price, "", new { @class="text-danger"})
   </td>


   <td> 
    @CustomHtmlHelpers.SaveButton("save-btn", "Index.EditItem(this)", new List<KeyValuePair<string,string>> {new ("id",Model.ID.ToString())})
    @CustomHtmlHelpers.CancelButton("cancel-btn", "Index.Cancel(this)", new List<KeyValuePair<string, string>> { new("id", Model.ID.ToString()) })
   </td>
</tr>